<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS" value="./logs"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{ISO8601} %-5level [%thread] %logger{64} %msg%n
            </Pattern>
        </layout>
    </appender>

    <!-- All code logger -->
    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>

    <!-- Project code logger -->
    <logger name="com.epam" level="DEBUG"/>

</configuration>